<mat-card [formGroup]="paymentForm" class="package-content">
        <mat-card-content>
        </mat-card-content>
        <mat-card-title class="title-package">Formulaire Payement</mat-card-title>

        <mat-form-field appearance="outline">
                <mat-label>Statut</mat-label>
                <mat-select [formControl]="status">
                  <mat-option value="accepté">Accepté</mat-option>
                  <mat-option value="refusé">Refusé</mat-option>
                  <mat-option value="en_attente">En attente</mat-option>
                </mat-select>
              </mat-form-field>
    

        <mat-form-field appearance="outline">
          <mat-label>Montant</mat-label>
          <input matInput type="number" formControlName="amount" />
        </mat-form-field>
    
      
        <h4>Payment methode</h4>
        <mat-form-field>
          <mat-label></mat-label>
          <mat-select [formControl]="payment_method">
            <mat-option>Clear</mat-option>
            <mat-option value="Paysera">Paysera</mat-option>
            <mat-option value="Vivawallet">Vivawallet</mat-option>
            <mat-option value="BNP">BNP</mat-option>
            <mat-option value="CCP">CCP</mat-option>
            <mat-option value="Autres">Autres</mat-option>
          </mat-select>
        </mat-form-field>
     
        <h4>Currency</h4>
        <mat-form-field appearance="fill">
            <mat-label>Devise</mat-label>
            <mat-select formControlName="currency">
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="DZD">DZD</mat-option>
            </mat-select>
            </mat-form-field>
        
           
        <div class="transport-form">
          <mat-form-field class="transport-full-width">
            <mat-label>Type</mat-label>
            <input type="text" matInput [formControl]="type" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            </mat-form-field>
          </div>

          <h4>Package</h4>
          <mat-form-field appearance="fill">
              <mat-label>Package</mat-label>
              <mat-select formControlName="package_id">
                  <mat-option *ngFor="let item of packages" [value]="item.id">{{item.type}} {{item.volumetric_weight}}</mat-option>
     
              </mat-select>
              </mat-form-field> 
          
      
      <button mat-raised-button (click)="Onsubmit()" color="primary">Ajouter</button>
      </mat-card>      
    
    
      
    
    
      
      