
.package-content{
  margin-top: 20px;
  padding: 20px 50px;
  width: 500px;
  .title-package{
    margin:20px 12px;
  }
}
  .select-house-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .transport-form {
    margin-top:25px;
    min-width: 200px;
    // max-width: 500px;
    width: 100%;
  }
  
  .transport-full-width {
    width: 100%;
  }