<mat-card [formGroup]="packageForm" class="package-content">
    <mat-card-content>
    </mat-card-content>
    <mat-card-title class="title-package">Formulaire Package</mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>Weight</mat-label>
      <input matInput type="number" formControlName="weight" />
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Volumetric Weight</mat-label>
      <input matInput type="number" formControlName="volumetric_weight" placeholder="Volumetric Weight">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>

  
    <h4>Transport</h4>
    <mat-form-field>
      <mat-label>Transport</mat-label>
      <mat-select [formControl]="transport_id">
        <mat-option *ngFor="let item of transports" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
    

    
    
    <div class="transport-form">
      <mat-form-field class="transport-full-width">
        <mat-label>Type</mat-label>
        <input type="text" matInput [formControl]="type" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        </mat-form-field>
      </div>
  
   <section class="select-house-section" >
     <mat-checkbox *ngFor="let item of actions"  class="example-margin" >{{item.name}}</mat-checkbox>
  </section>

  <button mat-raised-button type="submit" (click)="Onsubmit()" color="primary">Ajouter</button>
  
  
  
  </mat-card>      


  


  
  