<mat-card [formGroup]="formTransport" class="main-transport">
    <mat-card-title class="transport-title">TRANSPORT</mat-card-title>

    <mat-card class="form-card" >
    <mat-card-subtitle></mat-card-subtitle>
    
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput [formControl]="name">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input type="text" matInput [formControl]="address">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input type="text" matInput [formControl]="ville">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Code Postal</mat-label>
            <input type="text" matInput [formControl]="codePostal">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-card-header >
            <mat-card-title>Choisir Pays</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Options</mat-label>
              <mat-select [formControl]="pays_id">
                <mat-option *ngFor="let item of pays" [value]="item.id">{{item.name}} {{item.code}} </mat-option>
              </mat-select>
              <mat-error>Ce champ est requis</mat-error>
            </mat-form-field>
          </mat-card-content>
               <!-- <button mat-raised-button  color="primary" (click)="onSubmit()" [disabled]="loading" >Ajouter</button> -->
              
               <div class="btn-register">
                <mat-card-actions *ngIf="formTransport.valid">
                    <button mat-flat-button  color="primary" 
                            (click)="onSubmit()" [disabled]="loading"
                          >ENREGISTRER</button>
                </mat-card-actions>
                <div class="spinner-register" *ngIf="loading">
                        <app-spinner></app-spinner>
                      </div> 
                </div>   
</mat-card>
