<h2>Posts</h2>
<!-- <app-post-list-item *ngFor="let post of posts$ | async" [post]="post"></app-post-list-item> -->

<app-post-list-item *ngFor="let post of posts$ | async" [post]="post" (postCommented)="onPostCommented($event)"></app-post-list-item>