
<mat-card [formGroup]="mainForm" class="main-form">
    
    <mat-card-title class="title-inscription">INSCRIPTION</mat-card-title>
    <mat-card class="form-card" formGroupName="perso">
    <mat-card-subtitle></mat-card-subtitle>
    <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>FirstName</mat-label>
            <input type="text" matInput formControlName="firstName">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>LastName</mat-label>
            <input type="text" matInput formControlName="lastName">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
    </div>
</mat-card>

<mat-card class="form-card">
    <mat-card-subtitle >Gender</mat-card-subtitle>
    <mat-radio-group [formControl]="gender">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
        <mat-radio-button value="Non-specifique">Non-specifique</mat-radio-button>
    </mat-radio-group>
</mat-card>

<mat-card class="form-card" >
    <mat-card-subtitle>Email</mat-card-subtitle>
    <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>Adresse mail</mat-label>
            <input type="text" matInput [formControl]="email">
            <mat-error>L'adresse e-mail est invalide.</mat-error>
            
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Birthday</mat-label>
            <input type="date" matInput [formControl]="birthday">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>


    </div>
</mat-card>

<mat-card class="form-card" [formGroup]="loginInfoForm">
    <mat-card-subtitle></mat-card-subtitle>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username">
        <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
    <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirmer votre mot de passe</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
            <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showPasswordError$ | async">Les mots de passe ne correspondent pas</small>

    <div class="btn-register">
            <mat-card-actions *ngIf="mainForm.valid">
                <button mat-flat-button color="primary" 
                        (click)="onSubmitForm()" [disabled]="loading"
                      >ENREGISTRER</button>
            </mat-card-actions>
            <div class="spinner-register" *ngIf="loading">
                    <app-spinner></app-spinner>
                  </div> 
            </div>
</mat-card>




