<section class="app">
          <aside class="sidebar">
                 <!-- <header style="color:white">
                Portofolio Mael Rbm
              </header> -->
            <nav class="sidebar-nav">
         
              <ul>
                <li>
                  <a routerLink="#">
                    <i class="ion-bag"></i> <span>User</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a routerLink="/auth/register">
                        <i class="ion-ios-color-filter-outline"></i>Inscription
                      </a>
                    </li>
                    <li>
                      <a routerLink="">
                        <i class="ion-android-star-outline"></i>Mot de passe oublie</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="#"><i class="ion-ios-settings"></i> <span class="">Projet Aisel</span></a>
                  <ul class="nav-flyout">
                      <li>
                          <a ><i class="ion-ios-cog-outline"></i>Maison</a>
                        </li>
                    <li>
                      <a routerLink="/transport/create"><i class="ion-ios-alarm-outline"></i>Transport</a>
                    </li>
                    <li>
                      <a routerLink="/package/create"><i class="ion-ios-camera-outline"></i>Package</a>
                    </li>
                    <li>
                      <a routerLink="/payment/create"><i class="ion-ios-chatboxes-outline"></i>Payment</a>
                    </li>
                    
                  </ul>
                </li>
                <li>
                  <a routerLink="#"><i class="ion-ios-briefcase-outline"></i> <span class="">Reservation</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a routerLink="#"><i class="ion-ios-flame-outline"></i>Burn</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-lightbulb-outline"></i>Bulbs</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-location-outline"></i>Where You</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-locked-outline"></i>On Lock</a>
                    </li>
                     <li>
                      <a routerLink="#"><i class="ion-ios-navigate-outline"></i>Ghostface</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="#"><i class="ion-ios-analytics-outline"></i> <span class="">Graphicals</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a routerLink="#"><i class="ion-ios-timer-outline"></i>Timers</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-arrow-graph-down-left"></i>You Lose</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-partlysunny-outline"></i>Stormy</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-timer-outline"></i>Lookie Look</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-game-controller-a-outline"></i>Dork Mfer</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="#"><i class="ion-ios-paper-outline"></i> <span class="">Papers</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a routerLink="#"><i class="ion-ios-filing-outline"></i>File Cab</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-information-outline"></i>Infos</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-paperplane-outline"></i>Planes</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-android-star-outline"></i>Shop</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="#"><i class="ion-ios-navigate-outline"></i> <span class="">Ass Finder</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a routerLink="#"><i class="ion-ios-flame-outline"></i>Burn</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-lightbulb-outline"></i>Bulbs</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-location-outline"></i>Where You</a>
                    </li>
                    <li>
                      <a routerLink="#"><i class="ion-ios-locked-outline"></i>On Lock</a>
                    </li>
                     <li>
                      <a routerLink="#"><i class="ion-ios-navigate-outline"></i>Ghostface</a>
                    </li>
                  </ul>
                </li>
                 <li>
                  <a routerLink="#"><i class="ion-ios-medical-outline"></i> <span class="">Cocaine</span></a>
                </li> 
              </ul>
            </nav>
          </aside>
</section> 