// .example-container {
//     position: absolute;
//     top: 100px;
//     bottom: 0;
//     left: 0px;
//     right: 0px;
//     background: red;
//     }

@import "bourbon";
// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
// body{
//   font-family: "Lato";
//   font-size: 100%; 
// 	overflow-y: scroll; 
//   font-family: sans-serif; 
//  -ms-text-size-adjust: 100%; 
//  -webkit-text-size-adjust: 100%; 
//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale; 
//   text-rendering: optimizeLegibility;
//   background-color: #fefefe;
// }


a{
   text-decoration: none;
   transition:all 0.6s ease;
   cursor: pointer;
  &:hover{
      transition:all 0.6s ease;
  }
}

.app{
  // height: 100vh;
  margin-top: 30px;
}
/* -------------
Sidebar
----------------*/
.sidebar {
  // position: absolute;
  //width: 33.3333%;
  position: fixed;
  width: 17em;
  height: 100%;
  top: 72px;
  overflow:hidden;
  background-color: #19222a;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  z-index: 4;
  
  header{
    background-color: #09f;
    width: 100%;
    display:block;
    padding: 0.75em	1em;
    
  }
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  //width: 13em;
  background-color: #19222a;
  height: 100%;
  font-weight: 400; 
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
 
  
  ul{
    list-style:none;
    display: block;
    padding: 0;
    margin: 0;
    
    li{
      margin-left: 0;
      padding-left: 0;
      //min-width: 13em;
      display:inline-block;
      width: 100%;
      
      a{
        color: rgba(255,255,255,0.9);
        font-size: 0.75em;
        padding: 1.05em	1em;
        position: relative;
        display:block;
        
        &:hover{
          background-color: rgba(0,0,0,0.9);
           transition:all 0.6s ease;
        }
      }
/* -------------
Sidebar: icons
----------------*/
      i{
        font-size: 1.8em;
        padding-right: 0.5em;
        width: 9em;
        display: inline;
        vertical-align:middle;
      }  
    }
  }

/* -------------
Chev elements
----------------*/ 
  & > ul > li > a:after {
    content: '\f125';
    font-family: ionicons;
    font-size: 0.5em;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 45%;
  }
/* -------------
Nav-Flyout
----------------*/
  & .nav-flyout {
    position: absolute;
    background-color: #080D11;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    transform:translateX(100%);
    transition:all 0.5s ease;
    
    a:hover{
      background-color: rgba(255,255,255, 0.05)
    }
  }

/* -------------
Hover
----------------*/
  & ul > li:hover{
      .nav-flyout{
      transform:translateX(0);
      transition:all 0.5s ease;
    }
  }
}