<mat-card  [formGroup]="loginForm" class="connexion_content" >
    <mat-card-content>
    </mat-card-content>
    <mat-card-title class="connexion_title">CONNEXION</mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email"  placeholder="Email" />
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password"  placeholder="password">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    <button mat-raised-button [disabled]="loading" type="submit" (click)="Onsubmit()" color="primary">Se connecter</button>
    <div class="spinner-login" *ngIf="loading">
     <app-spinner></app-spinner>
   </div> 

  </mat-card>