.connexion_content{
    margin-top: 50px;
    padding: 50px 50px;
    .connexion_title{
      margin-bottom: 12px;
      color: #00bcd4;
      display: flex;
      justify-content: center;
    }
    .spinner-login{
      display: flex;
      justify-content: center;
      top: 1px;
      position: relative;
      top: -55px;
    }
}