/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @import "~ionicons/dist/scss/ionicons";
// @import "~ionicons/dist/css/ionicons.min.css";
// $ionicons-font-path: "~ionicons/dist/fonts";
// @import "~ionicons/dist/collection/components/icon/icon.css";
// @import "./assets/ionicons/ionicons-core.min.css";
// @import "./assets/css/bootstrap.css";
// @import "./assets/css/bootstrap-extend.min.css";
// @import "./assets/css/site.min.csss";
// @import "~bootstrap/dist/css/bootstrap.css";

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";



