<style>
/* html, body { height: 100%; } */
/* body {
  margin: 0;
  color: red;
   font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: url('./assets/images/blurred-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

} */
body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}
</style>


<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-content">
  <router-outlet></router-outlet>  
 

</div>




