body{
  font-family: "Lato";
  font-size: 100%; 
	overflow-y: scroll; 
  font-family: sans-serif; 
 -ms-text-size-adjust: 100%; 
 -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}


.main-content {
  margin-top: 50px;
  box-sizing: border-box;
  padding: 34px;
  // max-width: 800px;
  margin-left: 245px;
  display: flex;
  justify-content: center;
}