// header {
//   background-color: white;
//   padding: 6px 50px;
//   position: fixed;
//   top:0;
//   left: 0;
//   right: 0;
//   background-color: white;
//   border-bottom-width: 1px;
//   border-bottom-style: solid;
//   border-bottom-color: rgb(228, 228, 228);
//   z-index: 99;
//   .right-section{
//     width: 200px;
//     margin-right: 24px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     a {
//       text-decoration: none;
//       color: black;
//       .name{
//         padding-top: 0;
//         margin-left: 4px;
//       }
     
//     }
//     li.info-profile{
//       display: flex;
//       height: 15px;
//       align-items: center;
//     }
//     li.navbar__logo__langue {
//       height: 20px;
//       bottom: 17px;
//      }
//     .bgStrname{
//       background-color: #00bcd4;
//       border: 1px solid #fff;
//       border-radius: 50%;
//       width: 45px;
//       height: 45px;  
//      }
//      .profil-picture{ 
//       height: 40px;
//       border-radius: 50%;
//       width: 40px;
//       cursor: pointer;
//      }
    // span.strname {
    //     justify-content: center;
    //     color: white;
    //     display: flex;
    //     margin-top: 13px;
    //     cursor: pointer;       
    // }

    


  
//   }


// }

// .navbar {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
// }

// .navbar__link {
//   margin-left: 30px;
//   color: #242424;
//   text-decoration: none;
// }

// .navbar__link--purple {
//   color: #a5b4fc;
// }
// .youtube-logo{
//   height: 40px;	
// }


// nav ul li{
//   list-style-type: none;
// }

// nav ul li{
//   float: left;
//   // width: 25%;
//   // text-align: center;
//   position: relative;
// }
// nav ul::after{
//   // content: "";
//   // display: table;
//   // clear: both;
// }

// // nav a{
// //   display: block;
// //   text-decoration: none;
// //   color: black;
// //   border-bottom: 2px solid transparent;
// //   padding: 10px 0px;
// // }


// // nav a:hover{
// //   color: orange;
// //   border-bottom: 2px solid gold;
// // }
// .sous{
//   display: none;
//   box-shadow: 0px 1px 2px #CCC;
//   background-color: white;
//   position: absolute;
//   width: 100%;
//   z-index: 1000;
//   top: 40px;
//   left: -74px;
//   padding: 15px 15px;
//   border-radius: 2px;
// }
// nav > ul li:hover .sous{
//   display: block;
// }
// .sous li{
//   float: none;
//   width: 100%;
//   text-align: left;
// }
// .sous a{
//   // padding: 10px;
//   border-bottom: none;
// }
// .sous a:hover{
//   border-bottom: none;
//   background-color: RGBa(200,200,200,0.1);
// }
// .deroulant > a::after{
//   content:" ▼";
//   font-size: 12px;
// }

// .bgStrname{
//     background-color: white;
//     border: 1px solid #fff;
//     border-radius: 50%;
//     width: 45px;
//     height: 45px;  
//     }
//     span.strname {
//     justify-content: center;
//     color: black;
//     display: flex;
//     margin-top: 13px;
//     cursor: pointer;       
// }
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 19;
}