<!-- 
<header class="header">
  <nav class="navbar">
    <img class="navbar__logo" src="" alt="Mael Rbm">
		 <ul class="right-section">
			 <li>
				<a target="_blank" routerLink="https://dev.aerojumber.com">{{ 'menu.portFolio' | translate }}</a>
			</li>
			<li class="navbar__logo__langue">
			<a>
			  <img src="../../../../assets/images/langue/1.png" width="57" height="57px" alt="langue">
			</a>	  
			  <ul class="sous">
					<li><a routerLink="#" (click)="switchLanguage('fr')">Francais</a></li>
					<li><a routerLink="#" (click)="switchLanguage('en')">Anglais</a></li>
				</ul>
			</li>
		
			<li *ngIf="isLoggedIn()" class="info-profile">
				 
				 <a *ngIf="user?.photos_profil && user?.photos_profil?.length > 0">
					 <img class="profil-picture"   [src]="pathUser + user.photos_profil[0].photos">
				 </a>

				<a class="bgStrname" *ngIf="!user?.photos_profil || user?.photos_profil?.length === 0"> 
					<span class="strname">{{user?.str_name ? user?.str_name : ''}}</span>
				</a>
				 <a class="name">{{user?.name}}</a>
				 <ul class="sous">
						<li><a routerLink="#" (click)="logout()">Deconnexion</a></li>
				 </ul>
			</li>

			
			<li *ngIf="!isLoggedIn()">
					<a routerLink="/auth/login" >Se connecter</a>
			</li>

		</ul>	 
  
	</nav>
</header>
 -->


<!-- Navbar -->

  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink="#">Mael dev</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active"  aria-current="page" target="_blank" routerLink="https://dev.aerojumber.com">
            <div>
              <i class="fas fa-home fa-lg mb-1"></i>
            </div>
            PortFolio
          </a>
        </li>
        <!-- <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="#!">
            <div>
              <i class="far fa-envelope fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-danger">11</span>
            </div>
            Link
          </a>
        </li> -->
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link disabled" aria-disabled="true" routerLink="#!">
            <div>
              <i class="far fa-envelope fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-warning">11</span>
            </div>
            PortFolio
          </a>
        </li>
        <li class="nav-item dropdown text-center mx-2 mx-lg-1">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">
            <div>
              <i class="far fa-envelope fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-primary">2</span>
            </div>
            Langue
          </a>
    
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="#">Francais</a></li>
            <li><a class="dropdown-item" routerLink="#">Anglais</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" routerLink="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="#!">
            <div>
              <i class="fas fa-bell fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-info">11</span>
            </div>
            Messages
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" routerLink="#!">
            <div>
              <i class="fas fa-globe-americas fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-success">11</span>
            </div>
            News
          </a>
        </li>
      </ul>
    
      <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
        <button class="btn btn-primary" type="button" data-mdb-ripple-color="dark">
          Search
        </button>
      </form>
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
      <li class="nav-item dropdown mx-2 mx-lg-1">
          
         <!-- <a *ngIf="user?.photos_profil && user?.photos_profil?.length>0" class="nav-link dropdown-toggle d-flex align-items-center" routerLink="#" id="navbarDropdownMenuLink"
            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img [src]="pathUser + user.photos_profil[0].photos" class="rounded-circle" height="22"
              alt="" loading="lazy" />
          </a> -->

          <!-- <a class="bgStrname" *ngIf="!user?.photos_profil || user?.photos_profil?.length === 0"> 
            <span class="strname">{{user?.str_name ? user?.str_name : ''}}</span>
          </a> -->

          
          
            <a class="nav-link dropdown-toggle d-flex align-items-center" routerLink="" id="navbarDropdownMenuLink"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="assets/images/girl-1245773_960_720.jpg" class="rounded-circle" height="30" width="30"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="#">My profile</a></li>
              <li><a class="dropdown-item" routerLink="#">Settings</a></li>
              <li><a class="dropdown-item" routerLink="#">Logout</a></li>
            </ul>
          
         
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Navbar -->
  <!-- Navbar
  <header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" >
    <div class="container-fluid justify-content-center justify-content-md-between">
      <div class="d-flex my-2 my-sm-0">
        <a class="navbar-brand me-2 mb-1 d-flex justify-content-center" routerLink="#">
          <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="20" alt=""
            loading="lazy" />
        </a>

        
        <form class="d-flex input-group w-auto my-auto">
          <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
            style="min-width: 125px" />
          <span class="input-group-text border-0 d-none d-md-flex"><i class="fas fa-search"></i></span>
        </form>
      </div>

      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="#" role="button" data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1"
            class="btn shadow-0 p-0 me-3" aria-controls="#sidenav-1" aria-haspopup="true">
            <i class="fas fa-bars me-1"></i>
            <span>Categories</span>
          </a>
        </li>
        
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="#">
            <span><i class="fas fa-shopping-cart"></i></span>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
        </li>
        
        <li class="nav-item dropdown me-3 me-lg-0">
          <a class="nav-link dropdown-toggle hidden-arrow" routerLink="#" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>z
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="#">Some news</a></li>
            <li><a class="dropdown-item" routerLink="#">Another news</a></li>
            <li>
              <a class="dropdown-item" routerLink="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="#">
            <span class="d-none d-lg-inline-block">Contact</span>
            <i class="fas fa-envelope d-inline-block d-lg-none"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="#">
            <span class="d-none d-lg-inline-block">Shop</span>
            <i class="fas fa-shopping-bag d-inline-block d-lg-none"></i>
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" routerLink="#" id="navbarDropdownMenuLink"
            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
              alt="" loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="#">My profile</a></li>
            <li><a class="dropdown-item" routerLink="#">Settings</a></li>
            <li><a class="dropdown-item" routerLink="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  </header>
  <!-- Navbar -->